<h1>Editing Erp Operating Expense</h1>

<%= render 'form', erp_operating_expense: @erp_operating_expense %>

<hr /><%= link_to 'Show', @erp_operating_expense %> |
<%= link_to 'Back', erp_operating_expenses_path %>
