<h1>Editing Digital Marketing Data</h1>

<%= render 'form', digital_marketing_data: @digital_marketing_data, path: digital_marketing_data_path(@digital_marketing_data), method: 'put' %>

<hr /><%= link_to 'Show', digital_marketing_datas_path(@digital_marketing_data) %> |
<%= link_to 'Back', digital_marketing_datas_path %>