<h1>New Digital Marketing Data</h1>

<%= render 'form', digital_marketing_data: @digital_marketing_data, path: digital_marketing_datas_path, method: 'post' %>

<hr /><%= link_to 'Back', digital_marketing_datas_path %>
