 

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>Company:</strong>
  <%= @house.company.try(:name) %>
</p>

<hr /><%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
