<h1>Editing Marketing Fixed Expense</h1>

<%= render 'form', marketing_fixed_expense: @marketing_fixed_expense %>

<hr /><%= link_to 'Show', @marketing_fixed_expense %> |
<%= link_to 'Back', marketing_fixed_expenses_path %>
