<h1>Editing Miscellaneous Expense</h1>

<%= render 'form', miscellaneous_expense: @miscellaneous_expense, path: miscellaneous_expense_path(@miscellaneous_expense), method: 'put' %>

<hr /><%= link_to 'Show', miscellaneous_expenses_path(@miscellaneous_expense) %> |
<%= link_to 'Back', miscellaneous_expenses_path %>