<h1>New Miscellaneous</h1>

<%= render 'form', miscellaneous_expense: @miscellaneous_expense, path: miscellaneous_expenses_path, method: 'post' %>

<hr /><%= link_to 'Back', miscellaneous_expenses_path %>
