<h1>Editing Company Lease Information</h1>

<%= render 'form', company_lease_information: @company_lease_information %>

<hr /><%= link_to 'Show', @company_lease_information %> |
<%= link_to 'Back', company_lease_informations_path %>
