<h1>Editing Sunshine Center Other Expense</h1>

<%= render 'form', sunshine_center_other_expense: @sunshine_center_other_expense %>

<hr /><%= link_to 'Show', @sunshine_center_other_expense %> |
<%= link_to 'Back', sunshine_center_other_expenses_path %>
