<h1>Editing PayrollData</h1>

<%= render 'form', payroll_data: @payroll_data, path: payroll_data_path(@payroll_data), method: 'put' %>

<hr /><%= link_to 'Show', payroll_datas_path(@payroll_data) %> |
<%= link_to 'Back', payroll_datas_path %>
